<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/app.css}">
    <title>giflib | Home</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et fuga iusto provident! Ad deserunt ea incidunt, magni mollitia neque nisi nobis nostrum quas quidem! Aut dolores numquam quo reprehenderit tempora?</p>
    <img th:src="@{/gifs/compiler-bot.gif}" alt="logo">
</body>
</html>